.form {
  width: 100%;
  color: #ffffff;

  &__group,
  &__button {
    width: 100%;
    margin: 3px 0;
    background-color: #343A3F;
    cursor: pointer;
  }

  &__group {
    display: block;
    padding: 1.33rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color: #454B4F;
    }
  }

  &__input,
  &__label {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
  }

  &__input {
    width: 90%;
  }

  &__label {
    width: 10%;
    margin-right: 1rem;
  }
}