.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2B2F35;

  &__container {
    width: 100%;

    @media screen and (min-width: 720px) {
      width: 66%;
    }
  
    @media screen and (min-width: 1440px) {
      width: 33%;
    }
  }
}